<span id="wedding-anchor" class="anchor">&nbsp;</span>
<div class="container" id="wedding">
  <div class="row">
    <div class="col-md-7" style="background-color:#4a8fa3; padding:17px 20px 20px 60px;">
      {% include rsvp.html %}
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6 block" style="background-color:#e89863">
          <i class="glyphicon glyphicon-time"></i>
          2012年10月20日(星期六) 中午11:30
        </div>
        <div class="col-md-6 block" style="background-color:#89ac50">
          <i class="glyphicon glyphicon-map-marker"></i>
          南京市玄武区孝陵卫街37号金港小镇
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 block" style="background-color:#de947c">
          <i class="glyphicon glyphicon-envelope"></i>
          liufengyunchina@gmail.com
        </div>
        <div class="col-md-6 block" style="background-color:#519fb5">
          <i class="glyphicon glyphicon-earphone"></i>
          13814171931(刘) 13951665846(王)
        </div>
      </div>
    </div>
  </div>
</div>
